<div ng-controller="CadastroUsuarioController as vm">
    <pd-crud service="vm.service" titulo="{{vm.title}}">
        <div class="row">
            <pd-input-text
                    label="Código"
                    ng-model="vm.service.entidade.codigo"
                    colspan="2">
            </pd-input-text>

            <pd-input-text
                    label="Nome"
                    ng-model="vm.service.entidade.nome"
                    colspan="5">
            </pd-input-text>

            <pd-input-text
                    label="E-mail"
                    ng-model="vm.service.entidade.email"
                    colspan="5">
            </pd-input-text>
        </div>
        <div class="row">
            <pd-input-text
                    label="Login"
                    ng-model="vm.service.entidade.login">
            </pd-input-text>

            <pd-input-text
                    label="Senha"
                    ng-model="vm.service.entidade.senha"
                    tipo="password">
            </pd-input-text>

            <pd-input-text
                    label="Confirmar senha"
                    ng-model="vm.service.entidade.senha"
                    tipo="password">
            </pd-input-text>

            <pd-select label="Tipo de usuário"
                       ng-model="vm.service.entidade.tipoUsuario"
                       provider="vm.tipoUsuario"
                       ng-required="true">
            </pd-select>
        </div>
    </pd-crud>
</div>